<div class="grid-container">
    <p class="header">Notification Cube</p>
    <mat-grid-list cols="{{cols | async}}" rowHeight="120px">

        <!-- slider card -->
        <mat-grid-tile colspan="1" rowspan="2">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                       Control 
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <section class="toggle">
                        On
                        <div class="toggle-spacer"> </div>
                        <mat-slide-toggle (change)="onLightToggle($event)" color="primary" [(ngModel)]="lightOn"></mat-slide-toggle>
                    </section>
                    <section class="slider-section">
                        <mat-icon>brightness_low</mat-icon>
                        <mat-slider thumbLabel="true" min="0" max="100" (change)="onBrightnessChange($event)" [(ngModel)]="brightness" step="5">
                        </mat-slider>
                    </section>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <!-- alarm card -->
        <mat-grid-tile colspan="1" rowspan="2">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Auto Sunrise
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Reset</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <section class="toggle">
                        On
                        <div class="toggle-spacer"> </div>
                        <mat-slide-toggle color="primary"></mat-slide-toggle>
                    </section>
                    <section class="effects-section">
                        <mat-form-field appearance="fill">
                            <mat-label>Start Time</mat-label>
                            <input matInput placeholder="Start Time" value="07:00">
                        </mat-form-field>
                    </section>
                    <!-- <section class="effects-section">
                        <mat-form-field appearance="fill">
                            <mat-label>Mode</mat-label>
                            <mat-select>
                                <mat-option>Off</mat-option>
                                <mat-option value="Linear">Linear</mat-option>
                                <mat-option value="Cubic">Cubic</mat-option>
                                <mat-option value="EaseIn">Ease-In</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </section> -->
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <!-- stats card -->
        <mat-grid-tile colspan="1" rowspan="2">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Stats
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <section>
                        <div class="bme">
                            <span class="temp-lg">57 W</span>
                            <span>Power</span>
                        </div>
                    </section>
                    <section class="sysinfo">
                        <div style="flex:1.5">IP Address<br />192.168.0.77</div>
                        <div>Uptime<br />0d 45m</div>
                        <div>Version<br />0.1</div>
                    </section>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>
</div>