//@import "~@angular/material/theming";
.header {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  padding-top: 20px;
  margin-left: 20px;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  > section {
    display: flex;
    align-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.toggle {
  height: 60px;
  font-size: 24px;
}

.toggle-spacer {
  flex: 1;
}

.slider-section {
  > mat-slider {
    margin-left: 10px;
    flex: 1;
    padding-right: 0;
  }
}

.effects-section {
  margin-top: 20px;
  margin-bottom: 15px;
  > mat-form-field {
    flex: 1;
  }
}

.color-section {
  flex-wrap: nowrap;
}
.current-color {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-color: whitesmoke;
  border-style: solid;
  border-width: 1px;
  flex: none;
}

.bulb {
  position: absolute;
  top: 10px;
  right: 20px;
}

.temp-lg{
  font-weight: 200;
  font-size: 64px;
  line-height: 72px;
}

.bme{
  width: 100%;
  align-content: flex-end;
  > span{
    font-weight: 200;
    margin-left:5px;
  }
}

.sysinfo{
  margin-top:20px;
  > div{
    flex:1;
  }
}
